.wrapper {
  width: 750rpx;
  min-height: 1624rpx;
  position: relative;
  padding-top: 1rpx;
  background: #f6f6f6;

  .listContent {
    width: 750rpx;
    padding-bottom: 30rpx;
    margin-top: 176rpx;
    box-sizing: border-box;
    position: relative;

    .tabContent {
      position: relative;
      padding-top: 24rpx;
      box-sizing: border-box;

      .listwrap {
        margin-bottom: 24rpx;
        .listItem {
          background: #ffffff;
          border-radius: 12rpx;
          margin: 0 auto;
          padding: 28rpx 24rpx;
          box-sizing: border-box;
          .top {
            width: 100%;
            height: 68rpx;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1rpx solid #eeeeee;
            .left {
              display: flex;
              align-items: center;
              .icons {
                width: 6rpx;
                height: 28rpx;
                background: #19b56a;
                border-radius: 4rpx;
                margin-right: 8rpx;
              }
              .plan {
                width: 84rpx;
                height: 48rpx;
                background: #fff3e2;
                border-radius: 4rpx;
                font-weight: 500;
                font-size: 30rpx;
                color: #f9940a;
                line-height: 48rpx;
                text-align: center;
                margin-right: 16rpx;
              }
              .title {
                height: 44rpx;
                font-weight: bold;
                font-size: 36rpx;
                color: #111111;
                line-height: 44rpx;
                text-align: left;
                margin-right: 16rpx;
              }
            }
            .right {
              .pass {
                font-weight: bold;
                font-size: 32rpx;
                color: #19b56a;
                line-height: 44rpx;
                text-align: right;
              }
            }
          }
          .formItem {
            width: 702rpx;
            height: 160rpx;
            background: #e7f6ef;
            border-radius: 8rpx;
            margin: 0 auto;
            padding: 16rpx;
            box-sizing: border-box;
            display: flex;
            .left {
              width: 176rpx;
              height: 128rpx;
              background: #ffffff;
              box-shadow: 0rpx 8rpx 8rpx 0rpx #c6eddb;
              border-radius: 12rpx;
              padding: 20rpx 28rpx;
              box-sizing: border-box;
              .topText {
                height: 44rpx;
                font-weight: bold;
                font-size: 36rpx;
                color: #19b56a;
                line-height: 44rpx;
                text-align: center;
              }
              .bottomText {
                height: 44rpx;
                font-weight: 400;
                font-size: 24rpx;
                color: #777777;
                line-height: 44rpx;
                text-align: center;
              }
            }
            .right {
              width: 70%;
              display: flex;
              margin: 20rpx 28rpx;
              justify-content: space-between;
              .info {
                .label {
                  height: 44rpx;
                  font-weight: 400;
                  font-size: 24rpx;
                  color: #777777;
                  line-height: 44rpx;
                  text-align: center;
                }
                .num {
                  height: 44rpx;
                  font-weight: bold;
                  font-size: 36rpx;
                  color: #111111;
                  line-height: 44rpx;
                  text-align: center;
                }
              }
            }
          }
          .subtitle {
            height: 32rpx;
            font-weight: 500;
            font-size: 28rpx;
            color: #555555;
            line-height: 32rpx;
            text-align: left;
            margin: 28rpx 0 24rpx;
          }
          .planContent {
            width: 702rpx;
            height: 268rpx;
            background: #f6f6f6;
            border-radius: 8rpx;
            padding: 24rpx;
            font-weight: 400;
            font-size: 28rpx;
            color: #111111;
            line-height: 44rpx;
            text-align: left;
            box-sizing: border-box;
          }
          .item {
            display: flex;
            margin-top: 24rpx;
            .head {
              margin-left: 46rpx;
              image {
                width: 56rpx;
                height: 56rpx;
              }
              .name {
                font-weight: 400;
                font-size: 24rpx;
                color: #777777;
                line-height: 36rpx;
                text-align: center;
              }
            }

            .label {
              height: 44rpx;
              font-weight: 400;
              font-size: 28rpx;
              color: #777777;
              line-height: 44rpx;
              text-align: left;
            }
            .text {
              height: 44rpx;
              font-weight: 400;
              font-size: 28rpx;
              color: #111111;
              line-height: 44rpx;
              text-align: left;
              margin-left: 20rpx;
            }
          }
        }
      }
    }
  }
}
